html {
    scroll-behavior: smooth
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow-x: hidden;
}

    nav {
        background-color: #1e2022;
        display: flex;
        align-items: center;
        width: 100%;
        overflow-x: hidden;
        overflow-block: hidden
    }

    .logo {
        margin: 5px;
        height: 50px;
        width: 50px
    }

    ion-icon {
        color: white;
        font-size: 45px
    }

    .com-name {
        margin-left: 5px;
        color: white;
        display: flex;
        align-items: center
    }

    .com-name h2 {
        font-family: 'Lexend Giga', sans-serif;
        font-size: 24px
    }

    .menu-bar-btn {
        margin-left: auto;
        height: 40px;
        width: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all .5s ease
    }

    .bar1,
    .bar2,
    .bar3 {
        height: 6px;
        width: 35px;
        background-color: white;
        border-radius: 9px;
        margin: 3px;
        transition: all .5s ease
    }

    .menu-bar-btn.press {
        transform: rotate(360deg)
    }

    .bar1.press {
        transform: rotate(45deg) translate(6px, 9px)
    }

    .bar2.press {
        transform: translate(-50%);
        opacity: 0
    }

    .bar3.press {
        transform: rotate(-45deg) translate(7px, -11px)
    }

    .menu-bar-option {
        position: absolute;
        top: 59px;
        background-color: #1e2022;
        height: 100vh;
        width: 0;
        overflow-x: hidden;
        transition: all .5s ease-in
    }

    .menu-bar-option.active {
        width: 65%
    }

    .menu-bar-list {
        transition: all .5s ease;
        visibility: hidden;
        display: flex;
        flex-direction: column
    }

    .menu-bar-list.active {
        visibility: visible
    }

    .menu-bar-list li {
        margin: 10px;
        margin-top: 25px;
        margin-left: 15px;
        list-style: none
    }

    li h4 {
        padding-top: 5px
    }

    .menu-bar-list li a {
        text-decoration: none;
        color: white;
        font-size: 22px
    }

    .search-box {
        font-size: 20px;
        width: 100%;
        height: 40px;
        border: 0;
        border: 2px solid #e9e9f0;
        background-color: #2e2b2b;
        color: white;
        padding-left: 8px;
        border-radius: 9px
    }

    .menu-bar-icon {
        font-size: 22px
    }

    .link1,
    .link2,
    .link3,
    .link4,
    .link5,
    .link6 {
        opacity: 0
    }

    .link1 {
        transition: all .5s ease .2
    }

    .link2 {
        transition: all .5s ease .4
    }

    .link3 {
        transition: all .5s ease .6
    }

    .link4 {
        transition: all .5s ease .8
    }

    .link5 {
        transition: all .5s ease 1.0
    }

    .link6 {
        transition: all .5s ease 1.2
    }

    .menu-bar-list li.fade {
        opacity: 1
    }
    .footer {
        background-color: #1e2022;
        text-align: center
    }

    .social-link {
        display: flex;
        justify-content: center;
        width: 40%;
        display: flex;
        margin: auto;
        text-align: center
    }

    .footer p {
        font-size: 19px;
        color: aliceblue;
        padding-bottom: 15px
    }

    .foot-logo {
        font-size: 30px;
        margin: 15px;
        color: #c5c3c3
    }
.middle{
background-color: #161625;

}
.info{
    width: 83%;
    margin:15px auto;
background-color: #161625;

}
.info h3{
    color: #bdbdbd;
    font-weight: 600;

}
.info p{
    letter-spacing: -1px;
    color: rgb(5, 99, 223);
    font-weight: 600;
    font-size: 20px;
    text-align: justify;
    margin: 5px;
}

@media screen and (min-width:768px)
{
    .middle{
        height: 100vh;
    }
    .info{
        width: 67%;
    }
}
