html {
    scroll-behavior: smooth
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow-x: hidden;
}

/* @media screen and (max-width:740px) { */
nav {
    background-color: #1e2022;
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
    overflow-block: hidden
}

.logo {
    margin: 5px;
    height: 50px;
    width: 50px
}

ion-icon {
    color: white;
    font-size: 45px
}

.com-name {
    margin-left: 5px;
    color: white;
    display: flex;
    align-items: center
}

.com-name h2 {
    font-family: 'Lexend Giga', sans-serif;
    font-size: 24px
}

.menu-bar-btn {
    margin-left: auto;
    height: 40px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .5s ease
}

.bar1,
.bar2,
.bar3 {
    height: 6px;
    width: 35px;
    background-color: white;
    border-radius: 9px;
    margin: 3px;
    transition: all .5s ease
}

.menu-bar-btn.press {
    transform: rotate(360deg)
}

.bar1.press {
    transform: rotate(45deg) translate(6px, 9px)
}

.bar2.press {
    transform: translate(-50%);
    opacity: 0
}

.bar3.press {
    transform: rotate(-45deg) translate(7px, -11px)
}

.menu-bar-option {
    position: absolute;
    top: 59px;
    background-color: #1e2022;
    height: 100vh;
    width: 0;
    overflow-x: hidden;
    transition: all .5s ease-in
}

.menu-bar-option.active {
    width: 65%
}

.menu-bar-list {
    transition: all .5s ease;
    visibility: hidden;
    display: flex;
    flex-direction: column
}

.menu-bar-list.active {
    visibility: visible
}

.menu-bar-list li {
    margin: 10px;
    margin-top: 25px;
    margin-left: 15px;
    list-style: none
}

li h4 {
    padding-top: 5px
}

.menu-bar-list li a {
    text-decoration: none;
    color: white;
    font-size: 22px
}

.search-box {
    font-size: 20px;
    width: 100%;
    height: 40px;
    border: 0;
    border: 2px solid #e9e9f0;
    background-color: #2e2b2b;
    color: white;
    padding-left: 17px;
    padding-right: 10px;
    border-radius: 8px;
    outline: none;
    transition: all 0.5s ease-in;
}

.search-box:focus {
    border-radius: 80px;
    border: 2px solid rgb(2, 127, 243);
    background-color: #dbd6d6;
    color: rgb(29, 28, 28);

}

.menu-bar-icon {
    font-size: 22px
}

.link1,
.link2,
.link3,
.link4,
.link5,
.link6 {
    opacity: 0
}

.link1 {
    transition: all .5s ease .2
}

.link2 {
    transition: all .5s ease .4
}

.link3 {
    transition: all .5s ease .6
}

.link4 {
    transition: all .5s ease .8
}

.link5 {
    transition: all .5s ease 1.0
}

.link6 {
    transition: all .5s ease 1.2
}

.menu-bar-list li.fade {
    opacity: 1;
}

.card-box {
    width: 100%;
    height: 350px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.card-head {
    background-color: #fff;
    text-align: center;
    padding: 15px;
    height: 480px;
    overflow: hidden;
}

.card-head img {
    width: 86%;
    margin: 10px auto;
}

.card-head h2 {
    margin: 25px auto;
    text-align: left;
    color: #ff0000cc
}

.card-1,
.card-2,
.card-3,
.card-4,
.card-5 {
    overflow: hidden;
    width: 166px;
    height: 93px;
    background-color: #fb3131;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 9px
}

.card-1,
.card-2,
.card-3,
.card-4,
.card-5 p {
    text-align: center;
}

.card-para {
    font-weight: 500;
    font-size: 25px;
    padding: 5px
}

.card-1 span,
.card-2 span,
.card-3 span {
    color: #010002;
    font-weight: 600;
}

.card-2 {
    background-color: #008000c7
}

.card-3 {
    background-color: #0054ff
}

.card-4 {
    background-color: #673ab7
}

.card-5 {
    width: 186px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #b10909
}

.card-5 h3 {
    text-align: center
}

.card-5 p {
    text-align: center
}

.info-box {
    padding: 15px;
    text-align: center;
    background-color: #d3ccd0;
    background-color: #fff
}

.info-box h3 {
    font-size: 25px;
    color: green
}

.info-box p {
    font-size: 18px;
    margin-top: 10px
}

.info-box img {
    margin: 16px;
    width: 95%
}

.card-icon {
    font-size: 16px
}

.medical {
    background-color: #d3ccd0;
    background-color: #f7f3f5
}

.medical h3 {
    text-transform: uppercase;
    color: #005aff;
    text-align: center;
    font-size: 27px
}

.medical ul li {
    list-style: inside;
    text-align: justify;
    font-size: 19px;
    margin: 15px 28px;
    font-weight: 500
}

.medical ul li:nth-child(10) {
    margin: 0 28px
}

.medical img {
    margin: 15px;
    width: 95%
}

.move-btn {
    position: fixed;
    right: 5px;
    font-size: 21px;
    font-weight: 600;
    padding-top: 5px;
    text-align: center;
    width: 40px;
    height: 40px;
    border: none;
    border: 2px solid rgb(255, 230, 0);
    border-radius: 50px;
    color: #bdbdbd;
    background-color: #d66002;
}

.up {
    bottom: 68px;
}

.down {
    bottom: 10px;
}



.footer {
    background-color: #1e2022;
    text-align: center
}

.social-link {
    display: flex;
    justify-content: center;
    width: 40%;
    display: flex;
    margin: auto;
    text-align: center
}

.footer p {
    font-size: 19px;
    color: aliceblue;
    padding-bottom: 15px
}

.foot-logo {
    font-size: 30px;
    margin: 15px;
    color: #c5c3c3
}

.state-wise-head {
    width: 100%;
    font-size: 25px;
    text-align: center
}

.state-style {
    margin: 15px auto;
    padding: 15px;
    width: 85%;
    height: 148px;
    background-color: #f0a500;
    border-radius: 9px;
    color: #222831;
    position: relative;
    box-shadow: 0 10px 36px -14px #ef6487
}

.state-style h2 {
    letter-spacing: 2px;
    color: #0470f5;
    font-size: 22px;
    border-bottom: 2px solid #bbbbbb;
    text-align: center;
    margin-bottom: 5px;
    text-transform: uppercase
}

.state-wise p {
    padding-top: 5px;
    font-size: 19px
}


@media (prefers-color-scheme: dark) {
    nav {
        background-color: #0e0e1d;
    }

    .logo ion-icon {
        color: #bdbdbd;
    }

    .com-name {
        color: #466ada;
    }

    .bar1,
    .bar2,
    .bar3 {
        background-color: #bdbdbd;
    }

    .card-head {
        background-color: #161625;
        color: #bdbdbd;
    }

    .card-head h2 {
        color: #fe0739;
    }

    .card-2 {
        background-color: #289645;
    }

    .medical {
        padding-top: 15px;
        background-color: #161625;
        color: #bdbdbd;
    }

    .state-style {
        background-color: #1e1e30;
        color: #f8bc08;
        box-shadow: none;
    }

    .state-wise {
        padding-bottom: 15px;

        background-color: #161625;
    }

    .info-box {
        background-color: #161625;
    }

    .info-box p {
        color: #bdbdbd;
    }

    .card-box {
        background-color: #161625;
    }

    .state-wise-head h3 {
        padding: 15px;
        background-color: #161625;
        color: #57677b;
    }

    .footer {
        background-color: #0e0e1d;
    }

    .menu-bar-option {
        background-color: #161625;
    }

    .state-style:nth-child(1) {
        margin: 0px auto 15px;
    }

    .state-style:nth-last-child(1) {
        margin: 15px auto 0px;
    }

}



/* } */

@media screen and (min-width:768px) {

    .card-head img {
        width: 300px;
    }

    .card-head {
        height: 500px;
    }

    .card-head h2 {
        font-size: 30px;
    }

    .card-head p {
        font-size: 20px;
    }

    .card-head h5,
    .card-head h4 {
        font-size: 21px;
    }

    .state-wise {
        display: flex;
        flex-wrap: wrap;
    }

    .state-style {
        width: 350px;
    }

    .state-style:nth-child(1) {
        margin: 15px auto;
    }

    .state-style h2 {
        font-size: 23px;
    }

    .state-style p {
        font-size: 20px;
    }

    .medical ul li {
        font-size: 21px;
    }

    .move-btn {
        margin: 5px 44%;
    }

    .info-box img {
        width: 71%;
    }

    .medical img {
        margin: 36px 111px;
        width: 71%;
    }
    .up , .down{
        visibility: hidden;
            }
}



@media screen and (min-width:1024px) {
   
}
